.lightTheme() {
  --bg-color: #f2f2f2;
  --txt-color: #2c3e50;
  --ad-shadow:#ededed;
  --im-content-bg2: #ffffff;
  --im-list-bg: #f8f8f8;
  --im-search-shadow1:#cfcfcf;
  --im-search-shadow2:#ffffff;
  --im-shadow1:#cecece;
  --im-shadow2:#ffffff;
  --im-bg1:#F2F2F2;
  --im-txt-bg:#bcc2fd;
  --im-head-txt:#333;
  --file-card-bg:#BCC2FD;
  --file-card-txt:#333333;
  --file-card-desc:#9b9b9b;
  --member-boder:rgba(204,204,204,.3);
  --ai-btn:#5E6772;
  --im-primary:#4D5FFF;
}

.darkTheme() {
  --bg-color: #292D32;
  --txt-color: #fff;
  --ad-shadow:#23262b;
  --im-content-bg2: #272a2f;
  --im-list-bg: #272a2f;
  --im-search-shadow1:#212429;
  --im-search-shadow2:#31363c;
  --im-bg1:#292D32;
  --im-shadow1:#23262b;
  --im-shadow2:#2f343a;
  --im-txt-bg:#ffffff;
  --im-head-txt:#fff;
  --file-card-bg:#f4f4f4;
  --file-card-txt:#333333;
  --file-card-desc:#ccc;
  --member-boder:rgba(0, 0, 0, 0.2);
  --ai-btn:#5E6772;
  --im-primary:#4D5FFF;
}