@font-face {
  font-family: "iconfont"; /* Project id 4519359 */
  src: url('iconfont.woff2?t=1719928380974') format('woff2'),
       url('iconfont.woff?t=1719928380974') format('woff'),
       url('iconfont.ttf?t=1719928380974') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e678";
}

.icon-copy:before {
  content: "\e648";
}

.icon-aite:before {
  content: "\e600";
}

.icon-down:before {
  content: "\e608";
}

.icon-mute:before {
  content: "\e8b8";
}

.icon-sound:before {
  content: "\e8b9";
}

.icon-meeting:before {
  content: "\e64a";
}

.icon-join:before {
  content: "\e606";
}

.icon-emoji:before {
  content: "\e60a";
}

.icon-create:before {
  content: "\e615";
}

.icon-enter:before {
  content: "\e64c";
}

.icon-search:before {
  content: "\e651";
}

.icon-add:before {
  content: "\e652";
}

.icon-dark:before {
  content: "\e781";
}

.icon-light:before {
  content: "\e769";
}

